<h1>hey</h1>

<h1>{{ message }}</h1>
<h1>{{ name }}</h1>

<h1>{{ p }}</h1>

{% block first %}


{% endblock %}

{% for i in p %}
    <div class="container" style="background: blue">
        <h1>{{ i.firstname }}</h1>
        <h1>{{ i.email }}</h1>
        <a href="{% url 'view'   %}">click me</a>
    </div>
    <br>

{% endfor %}


<a href="{% url 'view' %}">click me</a>

<a href="{% url 'cc' %}">go on cc</a>


{% block secand %}


{% endblock %}

<form method="POST" action="/view/" >
    {% csrf_token %}
    <div>
        <label>firstname</label>
        <input type="text" name="firstname">
        <label>lastname</label>
        <input type="text" name="lastname">
        <label>email :</label>
        <input type="text" name="email">
        <input type="submit" value="submit">
    </div>
</form>























<!-- <form method="POST" action="/view/">
    {% csrf_token %}
    <div class="input-field">
        <input id="first_name" name="first_name" type="text" class="validate" required>
        <label for="first_name">First Name</label>
    </div>
    <button type="submit" id="submit">Sign Up</button>
    <div class="already">Already have an account with us?<a href="{% url 'cc' %}">Login</a></div>
</form> -->
